# Đồ án môn học

Họ tên: Võ Hoài An

MSSV: 1712265

---

## Import

In [16]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json

---

## Khám phá dữ liệu

Dữ liệu được dùng trong bài này là file ... [ở đây](https://www.kaggle.com/datasnaek/youtube-new).

---

### Đọc dữ liệu từ file json vào 1 dataframe

In [21]:
cat_file = open('US_category_id.json', 'r')
cat_response_data = json.load(cat_file)
cat_file.close()
cat_response_data.keys()

dict_keys(['kind', 'etag', 'items'])

Trong dữ liệu download từ Kaggle, file `US_category_id.json` chứa thông tin về các danh mục video trên Youtube. Có khá nhiều dữ liệu trong file này. Tuy nhiên, thứ chúng ta cần quan tâm có lẽ là `id` của danh mục và `title` của danh mục đó. Chúng ta sẽ đi trích xuất chung ra một dataframe riêng để sử dụng lúc sau.

Dưới đây là mô tả cho các key trong file `US_category_id.json` này:

| Key | Kiểu dữ liệu | Ý nghĩa |
| --- | --- | --- |
| **kind** | str | Identifies the API resource's type. |
| **etag** | str | The Etag of this resource. |
| **items** | list | A list of video categories that can be associated with YouTube videos. In this map, the video category ID is the map key, and its value is the corresponding videoCategory resource. |

(Nguồn: https://developers.google.com/youtube/v3/docs/videoCategories/list)

*Như vậy, dữ liệu về các danh mục video trên youtube nằm trong list `items`, ta sẽ xem cấu trúc dữ liệu của chúng như thế nào*

Hiện tại, ta chỉ xem xét thử một dict đầu tiên trong list `items` này:

In [26]:
# Xem thử một dict trong list
cat_response_data['items'][0]

{'kind': 'youtube#videoCategory',
 'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/Xy1mB4_yLrHy_BmKmPBggty2mZQ"',
 'id': '1',
 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
  'title': 'Film & Animation',
  'assignable': True}}

In [27]:
# Xem các key của dict này
cat_response_data['items'][0].keys()

dict_keys(['kind', 'etag', 'id', 'snippet'])

Dưới đây là mô tả cho các key trong dict này:

| Key | Kiểu dữ liệu | Ý nghĩa |
| --- | --- | --- |
| **kind** | str | Identifies the API resource's type. |
| **etag** | str | The Etag of this resource. |
| **id** | str | The ID that YouTube uses to uniquely identify the video category. |
| **snippet** | dict| The snippet object contains basic details about the video category, including its title. |

(Nguồn: https://developers.google.com/youtube/v3/docs/videoCategories)

Như vậy, để lấy ra được **tên danh mục** (đây là thứ duy nhất mà ta hiểu được ngay), ta lại phải xem xét đến dict `snippet`:

| Key | Kiểu dữ liệu | Ý nghĩa |
| --- | --- | --- |
| **snippet.channelId** | str | The YouTube channel that created the video category. |
| **snippet.title** | str | The video category's title. |
| **snippet.assignable** | boolean | Indicates whether videos can be associated with the category. |

Thứ chúng ta thực sự cần đã xuất hiện, chính là các key **`snippet.title`** và **`id`** :) và bây giờ chúng ta đã có được tên danh mục các video trên Youtube.

Bây giờ, ta sẽ đưa chúng vào một dataframe có tên `cat_df`:

In [36]:
# Lấy danh dách items từ data ban đầu
cat_response_items = cat_response_data['items']
# Tạo một dict có 2 keys là id và title
cat_dict = {'id': [], 'title': []}
# Đổ dữ liệu từ cat_response_items vào 2 list trong dict này
for item in cat_response_items:
    cat_dict['id'].append(item['id'])
    cat_dict['title'].append(item['snippet']['title'])
# Tạo cat_df từ dict này
cat_df = pd.DataFrame(cat_dict)
cat_df.head()

   id             title
0   1  Film & Animation
1   2  Autos & Vehicles
2  10             Music
3  15    Pets & Animals
4  17            Sports

### Đọc dữ liệu từ file csv vào dataframe

In [38]:
video_df = pd.read_csv("USvideos.csv")
video_df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

### Dữ liệu gồm có bao nhiêu dòng và bao nhiêu cột?

Bạn tính số dòng và số cột (không được code cứng con số) và lần lượt lưu vào 2 biến là `num_rows` và `num_cols`.

In [3]:
# YOUR CODE HERE
num_rows = mvt_df.shape[0]
num_cols = mvt_df.shape[1]

### Mỗi dòng và mỗi cột có ý nghĩa gì?

Dưới đây là phần mô tả của khóa học "The Analytics Edge" về các cột trong file "mvt.csv":
- **ID**: a unique identifier for each observation.
- **Date**: the date the crime occurred.
- **LocationDescription**: the location where the crime occurred.
- **Arrest**: whether or not an arrest was made for the crime (TRUE if an arrest was made, and FALSE if an arrest was not made).
- **Domestic**: whether or not the crime was a domestic crime, meaning that it was committed against a family member (TRUE if it was domestic, and FALSE if it was not domestic).
- **Beat**: the area, or "beat" in which the crime occurred. This is the smallest regional division defined by the Chicago police department.
- **District**: the police district in which the crime occured. Each district is composed of many beats, and are defined by the Chicago Police Department.
- **CommunityArea**: the community area in which the crime occurred. Since the 1920s, Chicago has been divided into what are called "community areas", of which there are now 77. The community areas were devised in an attempt to create socially homogeneous regions.
- **Year**: the year in which the crime occurred.
- **Latitude**: the latitude of the location at which the crime occurred.
- **Longitude**: the longitude of the location at which the crime occurred.

Nhìn vào dữ liệu ở `mvt_df`, ta có thể thấy là mỗi dòng ứng với thông tin của một vụ phạm tội.

### Mỗi cột  có dtype là gì? (0.25đ)

Bạn lấy `dtype` (kiểu dữ liệu của mỗi phần tử) của mỗi cột trong `mvt_df` và lưu kết quả vào series `col_dtypes`; series này có index là tên cột.

In [5]:
# YOUR CODE HERE
col_dtypes = mvt_df.dtypes

### Cột có dtype là object nghĩa là sao? (0.5đ)

`mvt_df` có 4 cột có `dtype` là `object`: "Date", "LocationDescription", "District", "CommunityArea". Trong Pandas, kiểu dữ liệu `object` thường ám chỉ chuỗi, nhưng thật ra kiểu dữ liệu `object` có thể chứa một đối tượng bất kỳ trong Python (vì thật ra ở bên dưới kiểu dữ liệu `object` chứa địa chỉ). Nếu một cột trong dataframe có `dtype` là `object` thì có thể các phần tử trong cột này sẽ có kiểu dữ liệu khác nhau; để biết được kiểu dữ liệu thật sự của các phần tử trong cột này thì ta phải truy xuất vào từng phần tử và dùng câu lệnh `type` để xem kiểu dữ liệu, ví dụ `type(s.iloc[i])` với `s` là một cột. Lúc đọc dữ liệu từ file "mvt.csv" lên, nếu bạn để ý thì sẽ thấy warning là: "Columns (6,7) have mixed types", nghĩa là cột 6 ("District") và 7 ("CommunityArea") có `dtype` không đồng nhất (trong nội bộ mỗi cột). Ta muốn xem thử trong nội bộ mỗi cột này có các kiểu dữ liệu nào.

Công việc của bạn là viết hàm nhận đầu vào là một cột `s` (series) có `dtype` là `object` và trả về tập các kiểu dữ liệu thật sự có trong cột này.

In [7]:
def open_object_dtype(s):
    dtypes = set()
    
    # YOUR CODE HERE
    for i in range(s.size):
        dtypes.add(type(s.iloc[i]))
    
    return dtypes

**<font color=red>Vấn đề:</font>**

- Cột "Date" đang có dtype là `str`. Để có thể tiếp tục khám phá thêm về cột này, ta sẽ thực hiện bước tiền xử lý là chuyển sang dạng `datetime`.
- Cột "District" và "CommunityArea" có dtype gồm 2 loại là `str` và `float`. Nếu thí nghiệm thêm thì bạn sẽ thấy `float` là ứng với `NaN`, còn `str` là ứng với mã (dạng số) của "District" hoặc "CommunityArea". Tuy nhiên, cũng có trường hợp mã là `float` (ví dụ, cột "CommunityArea", index 131072). Để có thể tiếp tục khám phá thêm về 2 cột này, ta cũng sẽ thực hiện bước tiền xử lý là chuyển tất cả sang dtype là `float`.

---

## Tiền xử lý

### Chuyển dtype của cột "Date" sang datetime (0.5đ)

Bạn hãy chuyển `dtype` của cột "Date" sang kiểu dữ liệu thời gian (sau khi làm xong thì cột "Date" trong `mvt_df` phải thay đổi `dtype`). Gợi ý: bạn có thể dùng câu lệnh `pd.to_datetime`; khi dùng `pd.to_datetime`, bạn truyền tham số `format="%m/%d/%y %H:%M"` (nếu không thì sẽ chạy rất chậm vì Pandas phải đoán format).

In [9]:
# YOUR CODE HERE
mvt_df['Date'] = mvt_df['Date'].apply(pd.to_datetime, format="%m/%d/%y %H:%M")

### Chuyển dtype của cột "District" và "CommunityArea" sang float (0.75đ)

Bạn hãy chuyển `dtype` của cột "District" và "CommunityArea" sang `float` (sau khi làm xong thì cột "District" và "CommunityArea" trong `mvt_df` phải thay đổi `dtype`). Nếu bạn thử chuyển thì sẽ bị báo lỗi vì trong các cột này có giá trị là " " (chuỗi có một khoảng trắng). Vậy thì trước khi chuyển, bạn phải replace các giá trị " " bằng NaN.

In [15]:
# YOUR CODE HERE
mvt_df['District'].replace(' ', '', inplace=True)
mvt_df['CommunityArea'].replace(' ', '', inplace=True)
mvt_df['District'] = pd.to_numeric(mvt_df['District'])
mvt_df['CommunityArea'] = pd.to_numeric(mvt_df['CommunityArea'])

---

## Quay lại bước khám phá dữ liệu

### Các cột dạng numeric và datetime có miền giá trị như thế nào? (0.5đ)

In [17]:
mvt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191641 entries, 0 to 191640
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   191641 non-null  int64
 1   Date                 191641 non-null  datetime64[ns]
 2   LocationDescription  191641 non-null  object
 3   Arrest               191641 non-null  bool
 4   Domestic             191641 non-null  bool
 5   Beat                 191641 non-null  int64
 6   District             148585 non-null  float64
 7   CommunityArea        167025 non-null  float64
 8   Year                 191641 non-null  int64
 9   Latitude             189365 non-null  float64
 10  Longitude            189365 non-null  float64
dtypes: bool(2), datetime64[ns](1), float64(4), int64(3), object(1)
memory usage: 13.5+ MB

Hiện có 8 cột có dạng numeric hoặc datetime: "ID", "Date", "Beat", "District", "CommunityArea", "Year", "Latitude", "Longitude". Tuy nhiên, cột "ID" thì không có gì đáng quan tâm; 3 cột "Beat", "District", "CommunityArea" thật ra là dạng categorical (vì là mã được đánh dưới dạng số). Do đó, ở đây, bạn chỉ tính miền giá trị (min, max) của 4 cột là "Date", "Year", "Latitude", "Longitude". Bạn lưu kết quả vào dataframe `col_ranges_df`. Dataframe này có 2 dòng là "min", "max"; và có 4 cột là "Date", "Year", "Latitude", "Longitude".

In [18]:
# YOUR CODE HERE
col_ranges_df = pd.DataFrame([
    [mvt_df["Date"].min(), mvt_df["Year"].min(), mvt_df["Latitude"].min(), mvt_df["Longitude"].min()],
    [mvt_df["Date"].max(), mvt_df["Year"].max(), mvt_df["Latitude"].max(), mvt_df["Longitude"].max()]
], index=['min', 'max'], columns=["Date", "Year", "Latitude", "Longitude"])

### Các cột dạng categorical có các giá trị nào? (1đ)

In [20]:
mvt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191641 entries, 0 to 191640
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   191641 non-null  int64
 1   Date                 191641 non-null  datetime64[ns]
 2   LocationDescription  191641 non-null  object
 3   Arrest               191641 non-null  bool
 4   Domestic             191641 non-null  bool
 5   Beat                 191641 non-null  int64
 6   District             148585 non-null  float64
 7   CommunityArea        167025 non-null  float64
 8   Year                 191641 non-null  int64
 9   Latitude             189365 non-null  float64
 10  Longitude            189365 non-null  float64
dtypes: bool(2), datetime64[ns](1), float64(4), int64(3), object(1)
memory usage: 13.5+ MB

`mvt_df` có 4 cột dạng categorical là "LocationDescription", "Beat", "District", "CommunityArea". Bạn hãy tính "range" của mỗi cột này: số lượng các giá trị khác nhau (không tính NaN), và list gồm 3 giá trị khác nhau đầu tiên sau khi đã sort tăng dần tất cả các giá trị khác nhau. Bạn lưu kết quả vào dataframe `cat_col_ranges_df`. Dataframe này có 2 dòng là "NumUniqueVals", "ThreeFirstVals"; và có 4 cột là "LocationDescription", "Beat", "District", "CommunityArea".

In [21]:
# YOUR CODE HERE
cat_col_ranges_df = pd.DataFrame([
    [mvt_df["LocationDescription"].unique().shape[0], mvt_df["Beat"].unique().shape[0], 
    mvt_df["District"].dropna().unique().shape[0], mvt_df["CommunityArea"].dropna().unique().shape[0]],
    
    [list(np.sort(mvt_df["LocationDescription"].unique())[0:3]), list(np.sort(mvt_df["Beat"].unique())[0:3]),
     list(np.sort(mvt_df["District"].dropna().unique())[0:3]), list(np.sort(mvt_df["CommunityArea"].dropna().unique())[0:3])]
],
    columns=["LocationDescription", "Beat", "District", "CommunityArea"],
    index=["NumUniqueVals", "ThreeFirstVals"])

### Làm rõ hơn về ý nghĩa của các cột "Beat", "District", "CommunityArea" (1đ)

Theo mô tả của khóa học "The Analytics Edge":
- **Beat**: the area, or "beat" in which the crime occurred. This is the smallest regional division defined by the Chicago police department.
- **District**: the police district in which the crime occured. Each district is composed of many beats, and are defined by the Chicago Police Department.
- **CommunityArea**: the community area in which the crime occurred. Since the 1920s, Chicago has been divided into what are called "community areas", of which there are now 77. The community areas were devised in an attempt to create socially homogeneous regions.

Như vậy, "Beat" là đơn vị nhỏ nhất, "District" thì gồm nhiều "Beat". Vậy có phải là các "District" không bị overlap với nhau không? (không có trường hợp mà một "Beat" vừa thuộc "District" này, vừa thuộc "District" kia). Và mỗi "CommunityArea" là gồm nhiều "Beat" và cũng không overlap với nhau? Để trả lời cho hai câu hỏi này, dưới đây bạn sẽ tính tỉ lệ (từ 0 đến 1) các "Beat" mà thuộc nhiều hơn một "District", và tỉ lệ các "Beat" mà thuộc nhiều hơn một "CommunityArea". Bạn lần lượt lưu các kết quả vào hai biến là `multi_district_ratio` và `multi_comarea_ratio`.

In [23]:
# YOUR CODE HERE
df = mvt_df[["Beat", "District"]].copy().drop_duplicates()
s = df.groupby("Beat")["District"].count() > 1
multi_district_ratio = s[s].count()/s.count()

df = mvt_df[["Beat", "CommunityArea"]].copy().drop_duplicates()
s = df.groupby("Beat")["CommunityArea"].count() > 1
multi_comarea_ratio = s[s].count()/s.count()

### Mỗi cột có bao nhiêu giá trị thiếu? (0.5đ)

Bạn hãy tính số lượng giá trị thiếu của mỗi cột và lưu kết quả vào series `col_num_nans`, trong đó index là tên cột.

In [25]:
# YOUR CODE HERE
col_num_nans = mvt_df.isnull().sum()

---

## Đưa ra các câu hỏi cần trả lời

Sau khi đã khám phá dữ liệu và hiểu hơn về dữ liệu, ta thấy có một số câu hỏi có thể được trả lời bằng dữ liệu:
- Số lượng các vụ phạm tội thay đổi như thế nào theo năm?
- Với các vụ án xảy ra ở mỗi năm, tỉ lệ bắt được thủ phạm tính đến thời điểm dữ liệu được thu thập là bao nhiêu?
- Trong mỗi năm, "Beat" nào có nhiều vụ phạm tội nhất và "Beat" nào có ít vụ phạm tội nhất?
- Trong 3 năm gần đây, 5 loại địa điểm nào (ngoài đường, chỗ đậu xe, ...) có nhiều vụ phạm tội nhất?
- Trong mỗi năm của 3 năm gần đây, số lượng các vụ phạm tội thay đổi như thế nào theo tháng?

Trong đồ án cuối kỳ, bạn sẽ phải suy nghĩ để đưa ra các câu hỏi có ý nghĩa và cũng phải giải thích để người đọc thấy được là câu hỏi có ý nghĩa. Trong bài tập này, mục đích chính là tập luyện các thao tác xử lý dữ liệu của Pandas nên mình không cần giải thích để người đọc thấy được là các câu hỏi có ý nghĩa. May quá 😉.

---

## Tiền xử lý

### Thêm cột "Month" vào dataframe (0.5đ)

Trong các câu hỏi ở trên, có câu cần đến thông tin về tháng của vụ phạm tội. Do đó, trước khi phân tích để trả lời cho các câu hỏi, bạn hãy tiền xử lý bằng cách thêm cột "Month" (tháng xảy ra vụ phạm tội) vào `mvt_df`. Sau khi thêm thì `mvt_df` phải thay đổi.

## Khám phá dữ liệu